@{
    ViewData["Title"] = "Головна";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<div class="wrapper">
    <h1 class="seymour-one-regular">АРХІТЕКТУРА КОМП'ЮТЕРІВ</h1>

    <div class="info-block">
        <h4>Опис дисципліни</h4>
        <text>Дисципліна "Архітектура комп'ютерів" є однією з фундаментальних дисциплін у галузі комп'ютерних наук та інформаційних технологій. Вона охоплює основні принципи проектування та функціонування комп'ютерних систем, а також розглядає апаратні та програмні компоненти, які забезпечують їхню ефективну роботу.</text>
    </div>

    <div class="info-block">
        <h4>Мета курсу</h4>
        <text>Метою курсу є надання студентам глибоких знань про структуру та організацію комп'ютерів, принципи їх функціонування, а також навичок проектування ефективних комп'ютерних систем.</text>
    </div>


    <div class="info-block">
        <h4>Методи викладання</h4>
        <text>Курс включає лекції, лабораторні роботи, практичні заняття та самостійне вивчення матеріалу. Використовуються сучасні навчальні технології, включаючи комп'ютерні симулятори та моделюючі програми для глибшого розуміння теоретичних аспектів.</text>
    </div>

    <div class="info-block">
        <h4>Перспективи працевлаштування</h4>
        <text>Знання з архітектури комп'ютерів є ключовими для кар'єри в галузях розробки апаратного забезпечення, системного програмування, мережевих технологій, а також для наукових досліджень у сфері комп'ютерних наук. Випускники можуть працювати на позиціях інженерів-розробників, системних адміністраторів, фахівців з мережевих технологій та інших пов'язаних спеціальностей.</text>
    </div>

    <h4 style="font-weight: bold;">▼ Доцент кафедри ▼</h4>
    <div class="person-block">
        <img />
        <div class="about-person">
            <h5 style="text-decoration: underline; text-align: center;">Єфимець Валентин Микитович</h5>
            <text><b>Посада:</b> доцент кафедри</text>
            <br />
            <text>Тел.: ??</text>
            <text>Email.: ??</text>
            <br />
            <text>
                <b>Наукові інтереси:</b> Збільшення продуктивності структур ЕОМ (процесори, алгоритми машинних операцій, представлення складних структур даних)
            </text>
        </div>
    </div>

</div>
